:root{
    --bg-color: #1e2140;
    --color-1: #d6dfff;
    --color-2:#ec676a;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-color);
}


.whole-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
    padding: 2em;
    
}

.sidebar{
    display: flex;
    flex-direction: column;
}


#grid-container{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 550px;
    background-color: #fff;
}

#grid-container > div{
    display:flex;
    flex: 1;
}

#grid-container > div > div{
    flex: 1;
}
