@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --bg-color: #262626;
    --color-1: #f2f2f2;
    --color-2:#ec676a;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}


.whole-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
    padding: 2em;
    
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
}

.sidebar button{
    padding: 1em 2em;
    background-color: var(--color-1);
    color: var(--bg-color);
    border: none;
    font-weight: 900;
    transition: .5s;
}

.sidebar button:hover{
    background-color: #c7c2c2;
    transform: translateY(-10%);
}

.sidebar button:active{
    background-color: yellow;
}

#grid-container{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 550px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px grey;
}

#grid-container > div{
    display:flex;
    flex: 1;
}

#grid-container > div > div{
    flex: 1;
}
